body {font-family: 'Open Sans', sans-serif;}

.newsletter-form {
  color:#666666;
  border: 1px solid #666666;
  border-radius:3px;
  padding: 10px;
  position:relative;
}
.exit-button {
position:absolute;
top:3px;
right:10px;
}

.newsletter-form h2 {
  margin-top:0;}

.question-button {
  position:fixed;
  width:100px;
  height:100px;
  bottom:10px;
  right:10px;
  line-height:100px;
  border-radius:50%;
  background:#3CB878;
  font-size:70px;
  text-align:center;
  color:white;
  cursor:pointer;
  z-index:10;
}
a {color: #3CB878;}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  margin: 0 0 5px;
}

.feature {
background:#3CB878;
padding:30px;
margin:10px 0;
box-shadow: 5px 5px 2px  #e0e0d1;}

.feature p {
color:white;
font-size:20px;
font-weight:bold;
margin-bottom:0;
text-align:center;}

.key-features {
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
}

input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  background: #3cb878;
  border: 0;
  color: white;
  height: 30px;
  margin: 0 0 5px;
  cursor: pointer;
}

main {
  width:600px;
  margin 0 auto;}